lazygit/.config/lazygit/state.yml
scripts/bin/latexmk
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lua/custom/plugins/local.lua
zed/.config/zed/.tmp*
zsh/.config/zsh/plugins
zsh/.config/zsh/*
!zsh/.config/zsh/scripts
!zsh/.config/zsh/.zshrc
vifm/.config/vifm/*
!vifm/.config/vifm/vifmrc
!vifm/.config/vifm/colors
