(
    selected_tab: Rgb(173, 102, 255),
    command_fg: White,
    selection_bg: Rgb(87, 87, 87),
    cmdbar_extra_lines_bg: Rgb(80, 36, 130),
    disabled_fg: Green,
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Rgb(242, 202, 0),
    commit_hash: Rgb(242, 202, 0),
    commit_time: LightCyan,
    commit_author: Rgb(41, 155, 255),
    danger_fg: Red,
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
)
