configuration {
	display-run : "   ";
	display-drun : "   ";
	display-window : "   ";
	display-ssh : "   ";
	display-filebrowser : "   ";
	modi: "window,run,drun,ssh,filebrowser,recursivebrowser";
	font: "JetBrainsMono Nerd Font 9";
	drun-display-format: "{icon} {name}";
	show-icons: true;

  /* remove default Control+c */
  kb-secondary-copy: "";
  kb-cancel: "Escape,Control+c";
}

// @theme "topbar"
// @theme "sidebar"
@theme "dropdown_menu"
