* {
  all: unset;
  border: none;
  border-radius: 0;
  min-height: 0;
  color: #DFDFDF;
  background-color: transparent;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
  padding: 0;
  margin: 0;
}

menu {
  background-color: #1E1E2E;
  padding: 8px;
  border: 1px solid #585b70;
  border-radius: 8px;
}

menuitem {
  padding: 2px 8px;
  border-radius: 2px;
}

menuitem:hover {
  background-color: #45475A;
}

tooltip {
  font-weight: bolder;
  background-color: #1E1E2E;
  border: 1px solid #585b70;
  border-radius: 6px;
}

#workspaces button {
  background-color: #313244;
  color: #BFBFBF;
  border: 2px solid #313244;
  border-radius: 4px;
  margin-right: 2px;
  padding: 0px 5px;
}

#workspaces button.special.visible,
#workspaces button.active {
  background-color: #1E1E2E;
  border: 2px solid #1E1E2E;
  border-bottom: 2px solid #EF9F76;
}

#workspaces button.urgent {
  background-color: #E63533;
  border: 2px solid #E63533;
  border-bottom: 2px solid #DFDFDF;
  color: #DFDFDF;
}

#workspaces button:not(.active):not(.urgent):hover {
  background-color: #1E1E2E;
  border: 2px solid #1E1E2E;
}

#custom-tmux,
#clock {
  margin-left: 6px;
  padding: 0px 8px;
  background-color: #1E1E2E;
  border-radius: 12px;
  border: 1px solid #585b70;
}

#submap {
  margin-left: 6px;
  padding: 0px 8px;
  border-radius: 12px;
  color: #11111B;
  background-color: #EF9F76;
}

#idle_inhibitor,
#tray {
  background-color: #1E1E2E;
  padding: 0px 6px;
  border-radius: 12px;
  border: 1px solid #585b70;
}

#load,
#battery,
#bluetooth,
#network,
#pulseaudio,
#wireplumber,
#backlight,
#cpu,
#memory {
  padding: 0px 6px;
  background-color: #1E1E2E;
  border-top: 1px solid #585b70;
  border-bottom: 1px solid #585b70;
}

#custom-separator {
  color: #313244;
  border-top: 1px solid #585b70;
  border-bottom: 1px solid #585b70;
  background: linear-gradient(90deg, #1E1E2E 20%, #45475A 50%, #1E1E2E 80%);
}

#network {
  padding-left: 8px;
  background-color: #1E1E2E;
  border-left: 1px solid #585b70;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#idle_inhibitor,
#memory {
  margin-right: 6px;
  padding-right: 8px;
  background-color: #1E1E2E;
  border-right: 1px solid #585b70;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#custom-tmux {
  color: #BED6F4;
}

#clock {
  color: #85ACFA;
  background-color: #1E1E2E;
}

#network {
  color: #F5C2E7;
}

#wireplumber,
#pulseaudio {
  color: #D0AFF8;
}

#backlight {
  color: #74C7EC;
}

#battery {
  color: #B8E1AA;
}

#battery.warning {
  color: #FFA500;
}

#battery.critical {
  color: #FF6666;
}

#cpu {
  color: #D3BE95;
}

#memory {
  color: #7CD0C3;
}

#bluetooth {
  color: #FFBA80;
}

#idle_inhibitor {
  color: #FFBA80;
}
